<p>{{ loggedIn$ | async }}</p>

<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>

<nav>
  <ul>
    <li>
      <a
        routerLink="/search"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Search</a
      >
    </li>
    <li>
      <a
        routerLink="/recipe"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Recipe</a
      >
    </li>
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Profile</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
